.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* ##### Battleship ##### */

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
  height: 100%;
}

.grid-wrapper {
  grid-column: col-start 2 / span 5;
  grid-row: 6 / 10;
  border: 1px solid black;
  height: 462px;
  width: 462px;
}

.opponent-grid-wrapper {
  grid-column: col-start 8 / span 5;
  grid-row: 6 / 10;
  border: 1px solid black;
  height: 462px;
  width: 462px;
}

.box {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  padding: 0;
  margin: 0;
  float: left;
}
